name: Pipeline CI/CD
# definição de quando pipeline será disparado
on: 
  push: 
    branches:
        -main
jobs: 
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Instalação do Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Instalação das dependências
        run: npm install

      - name: Rodar o build
        run: npm run build
